## Practice exercises
1. Store your name and age in variables and print them.
2. Create a list of your top 3 hobbies and loop through them.
3. Write a function that converts Celsius to Fahrenheit (already above — modify it).
4. Use an if/else to decide if someone is allowed to drive (age ≥ 18).

In [1]:
# Function example: Celsius to Fahrenheit
def c_to_f(c):
    return (c * 9/5) + 32

print(c_to_f(0))  # 32F
print(c_to_f(100))  # 212F

32.0
212.0

## Functions

Define and use a simple function (e.g., temperature converter).

In [2]:
# If/else example
age = 17
if age >= 18:
    print('Allowed to drive')
else:
    print('Not allowed to drive yet')

# Loop example
hobbies = ['reading', 'coding', 'soccer']
for i, h in enumerate(hobbies, 1):
    print(f'{i}. {h}')

Not allowed to drive yet
1. reading
2. coding
3. soccer

## Control flow: if / loops

Examples of if/else and loops useful for dataset processing.

In [3]:
# Arithmetic
a = 10
b = 3
print('Add:', a + b)
print('Divide:', a / b)
print('Integer divide:', a // b)
print('Power:', a ** 2)

# Comparison
print('a > b?', a > b)
print('a == b?', a == b)

# Logical
print('(a > 5) and (b < 5):', (a > 5) and (b < 5))

Add: 13
Divide: 3.3333333333333335
Integer divide: 3
Power: 100
a > b? True
a == b? False
(a > 5) and (b < 5): True

## Operators and Expressions

Try arithmetic and comparison operators.

In [4]:
# Integers and floats
age = 25
temperature = 23.5
name = 'Alex'
hobbies = ['reading', 'coding', 'soccer']

print(type(age), age)
print(type(temperature), temperature)
print(type(name), name)
print(type(hobbies), hobbies)

<class 'int'> 25
<class 'float'> 23.5
<class 'str'> Alex
<class 'list'> ['reading', 'coding', 'soccer']

In [6]:
## Variables and Data Types

#Create variables of different types and inspect them.

## Variables and Data Types

Create variables of different types and inspect them.

# Lesson 2 — Python Basics for Data Science

This notebook follows the `README.md` and provides short, hands-on exercises for variables, data types, operators, control flow, and functions. Try each cell and modify the examples.